/* Style */

.carousel-image {
    height: 50vh;
    background: url('../bootstrap-5.0.2-dist/img/banner.png') no-repeat center top / cover;
}

textarea.form-control {
    min-height: 150px;
    max-height: 250px;
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.15rem purple;
}