/* Banner */

.banner{
    /*
    height: 100vh;
    background-image: url('../img/banner.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #0081ff;
    background-size: cover;

    margin/padding/border : TOP RIGHT BOTTOM LEFT;

    ao declarar tudo na mesma linha, a ordem dos fatores altera o resultado
    */
    position: relative;
    height: 100vh;
    background: #0081ff url('../img/banner.png') no-repeat center top / cover;
    color: white;
}

.banner::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,  #0080ff 0%,#39b54a 100%); 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.8;
}

.banner > div {
    display: table;
    position: relative;
    z-index: 2;
}

.banner > div > article {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.banner > div,
.banner > div > article {
    width: 100%;
    height: 100%;
}

.banner h1 {
    font-size: 35px;
}

.banner p {
    font-size: 25px;
}