/* Reset */

body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #666;
}

body, 
ul {
    margin: 0;
}

ul{
    padding: 0;
    list-style:none;
}