/* Button */

.button {
    display: inline-block;
    padding: 15px;
    border: none;
    border-radius: 6px;
    color: #fff;
    float: none;
}

.button-primary {
    background-color: #0081ff ;
}

.button-secondary {
    background-color: #39b54a ;
}

.right {
    float: none;
    text-align: right;
}