/* Card */

.card {
    float: left;
    background-color:#efefef;
    padding: 20px 15px;
    width: 90%;
    border-radius: 12px;
    margin-bottom: 30px;
    text-align: center;
}

.icon {
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    display: block;
    background-position: center;
    background-color: #efefef;
    background-repeat: no-repeat;
    background-size: 60% auto;
}


.agil {
    background-image: url('../img/Linhas-de-Serviço-Agil.png');
}

.smartsourcing {
    background-image: url('../img/SmartSourcing.png');
}

.softwarebuilder {
    background-image: url('../img/Linhas-de-Serviço-DBC_Software-Builder.png');
}

.sustain {
    background-image: url('../img/Linhas-de-Serviço-DBC_Sustain.png');
}
