/* Contact */

.field {
    margin: 10px 0 10px 0;
    width: 100%;
    padding: 10px;
    border-color: #ddd;
    border-radius: 8px;
    border-style: solid;
    box-sizing: border-box;
    outline: none;
}

.field:focus {
    border-color: #0081ff;
    box-shadow:  0 0 12px rgba( 0, 129, 255, 0.5);
}

.field::placeholder {
    color: #ddd;
}

.field:focus::placeholder {
    border-color: #0081ff;
}

textarea.field {
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 250px;
}

.map-wrapper {
    margin: 15px -15px -10px;
    position: static;
    width: 100vw;
    height: 75vh;
    z-index: 1;
}

iframe {
    display: block;
    border: none;
    height: 100%;
    width: 100%;
}

@media ( min-width:720px ) {

    .map-wrapper {
        margin: 0;
        height: auto;
        width: 50vw;
        position: absolute;
        top: 80px;
        right: 0;
        bottom: 170px;
        z-index: 1;
    }

}