/* General */

body {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 200px;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}

a {
    color: #0081ff;  
    text-decoration: none;  
}

a:not(.button):hover {
    color: #39b54a;
}

.header + section:not(.banner) {
    padding-top: 100px;
}


@media (min-width:980px) {
    .header + section:not(.banner) {
        padding-top: 180px;
    }    
}

.text-center {
    text-align: center;    
}

.footer {
    margin-top: 50px;
}


@media ( min-width:720px ) {

    .header + section:not(.banner) {
        padding-top: 100px;
    }
}

.hide {
    display: none;
}

@media (max-width:720px) {
    .hide-on-mobile {
        display: none;
    }
}

@media (min-width:720px) and (max-width:1024) {
    .hide-on-tablet {
        display: none;
    }
}

@media (min-width:1024px) {
    .hide-on-desktop {
        display: none;
    }
}