/* Reset */

body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #666;
}

body,
input, 
ul {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #666;
}

ul{
    padding: 0;
    list-style:none;
}