/* Button */

.button {
    display: inline-block;
    padding: 15px;
    border: none;
    border-radius: 6px;
    color: #fff;
}

.button-primary {
    background-color: #0081ff ;
}

.button-secondary {
    background-color: #39b54a ;
}

.col-6 .button {
    float: right;
}