/* Rodape */

.footer {
    background-color:#ddd;
    margin-top: 15vh;
    padding: 20px 15px;
    text-align: center;
    color: #aaa;
}


.footer nav li,
.footer nav a {
    display: inline-block;
}

.footer nav a {
    font-size: 12px;
    color: #aaa;
}

.footer p {
    margin: 30px 0 0;
    color: #aaa;
    text-align: center;
    margin-bottom: 0;
    font-size: 14px;
}