/* Header */

.header {
    width: 100%;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    box-sizing: border-box;
}

.header img {
    width: 126px;
}


.header nav{
    float: right;
}

.header .logo,
.header li,
.header li a{
    display: inline-block;
}

.header li a{
    padding: 16px;
}