.background {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, rgba(121,182,82,1) 0%, rgba(114,186,107,1) 47%, rgba(80,205,231,1) 100%);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Header {
    width: 100vw !important;
    background-color: darkcyan !important;
    box-sizing: border-box !important;
    padding: 1px 20px !important;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.418) !important;
    margin-bottom: 60px !important;
    border: white double !important;
}

h1{
    font-size: 26px !important;
    font-weight: bold !important;
    text-align: center !important;
    color: white !important;
}

.button { 
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 18px !important;
    text-decoration: none !important;
    color: white !important;
    font-weight: bold !important;
    text-align: center !important;
    background-color: darkcyan !important;
    border-radius: 25px !important;
    border: white double !important;
    display: block !important;
    margin: 30px auto !important;
    height: 50px !important;
    width: 400px !important;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.418) !important;
} 

.button:hover {
    background-color: white !important;
    border: darkcyan !important;
    color: darkcyan !important;
}

.button a{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 18px !important;
    text-decoration: none !important;
    color: white !important;
    font-weight: bold !important;
}

.button:hover a{
    color: darkcyan !important;
}

.form {
    background-color: rgba(0, 0, 0, 0.137);
    display: block;
    max-width: 600px;
    box-sizing: border-box;
    padding: 80px 50px;
    margin: 0 auto;
    white-space:pre-wrap;
    
}

.card {
    background-color: white !important;
    color: black !important;
    width: 450px !important;
    display: block !important;
    margin: 20px auto !important;
}
